.gallery {
    display: grid;
    gap: 1rem; 

    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-rows: 200px;

    width: 100%;
}

.gallery-wrapper{
    width: 100%;
}

.gallery .img {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 500ms;
}

.gallery .img:hover {
    transform: translateY(-3px) scale(1.1);
}

.gallery .tall {
    grid-row: span 2 / auto;
}

.gallery .wide {
    grid-column: span 2 / auto;
}

/* BREAK POINTS BORROWED FROM W3SCHOOLS (THANK YOU KIND SOULS OF THAT WEBSITE) */

/* Extra small devices (phones, 600px and down) */     
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {


}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}