.background{
    background-color: #17181D;
    width: 100%; 
    min-height: 100vh;
    padding-top: 8rem;
}

.title-container {
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    align-items: center; 
}

.title-icon{
    font-size: 4rem ;
}

.page-title{
    font-weight: 900;
    font-size: 4rem;
}

.rec-container{
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.white-rec {
    background-color: white;
    height: 0.5rem;
}

.rec-1{
    width: 20%;
}

.rec-2{
    width: auto;
}

.content-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
}

.first-item{
    grid-column: span 3;
}

.project-item{
    width: 526px; 
    height: 296px;
    background: white;
}