.port-btn {
    font-family: "Montserrat", sans-serif;
    border: solid white;
    border-radius: 3rem;
    color: white; 
    background-color: transparent;
    text-align: center;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.btn-title{
    font-weight: 500;
    font-size: 2.25rem;
    transition: font-weight 0.25s ease-in-out, font-size 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.btn-icon{
    font-size: 100px;
    margin-top: 25%;
    transition: font-size 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.port-btn:hover{
    background-color: rgba(255, 255, 255, 0.85);
    border-color: transparent;
    color: black;
}

.port-btn:hover .btn-title {
    transition: ease-in-out 0.25s;
    font-weight: 900;
    transform: translateY(40%);
}

.port-btn:hover .btn-icon {
    transition: ease-in-out 0.25s;
    font-size: 2.75rem;
    transform: translateY(40%);
}

 /* BREAK POINTS BORROWED FROM W3SCHOOLS (THANK YOU KIND SOULS OF THAT WEBSITE) */

 /* Extra small devices (phones, 600px and down) */     
 @media only screen and (max-width: 600px) {

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 601px) {
    

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

    

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

    .port-btn{
        width: 380px;
    }

 }