body {
    background-image: url("../assets/images/resume-bg.webp");
    background-size: cover;
}

.content-div {
    padding-top: 6rem;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.resume-list-container {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;

    height: 70vh;
    width: 30vw;
    max-width: 40rem;
    max-height: 48rem;

}

#resumes-title {
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    margin-top: 5%;
}