.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.section-overlay {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  background-color: rgba(23, 24, 29, 0.4);
  z-index: 1;
}

.section-img {
  height: 100vh; 
  width: 100vw; 
  object-fit: cover;
  position: absolute; 
  left: 0; 
  top: 0; 
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.title-1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
}

.title-2{
  color: white; 
  font-family: "Montserrat", sans-serif;
  font-size: normal;
  font-weight: 300;
}

.title-3 {
  color: white; 
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 600;
}

.title-4{
  font-family: "Montserrat", sans-serif;
  font-size: normal;
  font-weight: 400;
}


/* CUSTOM NAV BAR CSS */
